@import "tailwindcss";

@theme {
  --font-sans: "Vazirmatn", sans-serif;

  --color-site: #fcfdfe;
  --color-primary-700: oklch(35.889% 0.13872 263.41);
  --color-primary-600: oklch(44.617% 0.17879 263.23);
  --color-primary-500: oklch(52.986% 0.20551 263.33);
  --color-primary: oklch(52.986% 0.20551 263.33);
  --color-primary-50: oklch(87.605% 0.04819 267.18);

  --animate-shine-loop: shine-loop 1.5s linear infinite;
  @keyframes shine-loop {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

@utility wrapper {
  @apply max-w-[1440px] mx-auto px-2 sm:px-3 lg:px-4;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/src/assets/fonts/Vazirmatn[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
